@model WebCamApplication.ViewModels._ViewModelCam
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm(null, null, FormMethod.Post))
{
<h2>Login</h2>
<div>@Html.Label("Login Name")</div>
<div >@Html.TextBox("Name")</div>
<div>@Html.Label("Password")</div>
<div>@Html.Password("Password")</div>
<input type="submit" value="Login"/>

}